<template>
    <v-dialog v-model="show" width="500">
        <v-card>
            <v-card-title class="lighten-2 center" primary-title>
                Are you sure you want to place this bet?
            </v-card-title>

            <v-row>
                <v-col cols="12" md="12" class="ml-12">
                    <v-row ><v-col cols="12" md="3" >Total odds :</v-col> <v-col cols="12" md="6" >{{totalOdd }}</v-col></v-row>
                    <v-row ><v-col cols="12" md="3" >Bet Type :</v-col><v-col>{{betType}}</v-col> </v-row>
                    <v-row ><v-col cols="12" md="3" >Bet Stack :</v-col><v-col>{{betType}} = {{stackAmount}} ៛</v-col> </v-row>
                    <v-row ><v-col cols="12" md="3" >Max Payout :</v-col><v-col>{{maxPayout}} ៛</v-col> </v-row>
                </v-col>
            </v-row>

            <div class="row bet_places pa-0 pl-10 pr-4" style="margin-top: 10px; width: 100%;">
                <table class="table table-bordered" style="width: 100%; height: 140px;">
                    <tr class="row_bet_place table-primary">
                        <td width="20%" class="row_bet_place_td text-center">{{betSelectedIds[0]}}</td>
                        <td width="20%" class="row_bet_place_td text-center">{{betSelectedIds[1]}}</td>
                        <td width="20%" class="row_bet_place_td text-center">{{betSelectedIds[2]}}</td>
                        <td width="20%" class="row_bet_place_td text-center">{{betSelectedIds[3]}}</td>
                        <td width="20%" class="row_bet_place_td text-center">{{betSelectedIds[4]}}</td>
                    </tr>
                    <tr class="row_bet_place">
                        <td class="row_bet_place_td text-center">{{betSelectedIds[5]}}</td>
                        <td class="row_bet_place_td text-center">{{betSelectedIds[6]}}</td>
                        <td class="row_bet_place_td text-center">{{betSelectedIds[7]}}</td>
                        <td class="row_bet_place_td text-center">{{betSelectedIds[8]}}</td>
                        <td class="row_bet_place_td text-center">{{betSelectedIds[9]}}</td>
                    </tr>
                    <tr class="row_bet_place table-primary">
                        <td class="row_bet_place_td text-center">{{betSelectedIds[10]}}</td>
                        <td class="row_bet_place_td text-center">{{betSelectedIds[11]}}</td>
                        <td class="row_bet_place_td text-center">{{betSelectedIds[12]}}</td>
                        <td class="row_bet_place_td text-center">{{betSelectedIds[13]}}</td>
                        <td class="row_bet_place_td text-center">{{betSelectedIds[14]}}</td>
                    </tr>
                </table>
            </div>

            <v-divider></v-divider>

            <v-card-actions class="mt-5 pb-5">
                <v-spacer></v-spacer>
                <v-btn color="primary" depressed @click="submitConfirm()" large>Place Bet</v-btn>
                <v-btn color="light-grey" depressed @click="show = false" large>Cancel</v-btn>
                <v-spacer></v-spacer>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    import {mapState} from "vuex";
    export default {
        props: ['value', 'totalOdd', 'betType', 'confirmed', 'stackAmount', 'maxPayout'],
        computed: {
            ...mapState(['betSelectedIds', 'matchGroup', 'betMatchSelected', 'outStandingCount']),
            show: {
                get() {
                    return this.value;
                },
                set(value){
                    this.$emit('input', value);
                }
            }
        },
        methods: {
            submitConfirm(){
                this.show = false;
                this.confirmed();
            }
        },

    }
</script>
<style scoped>
    .table-primary,
    .table-primary > th,
    .table-primary > td {
        background-color: #ecd0b1;
    }

    .bet_places table {
        width: 100%;
        height: 150px;
        border-collapse: collapse;
    }

    .bet_place table, th, td{
        border: 1px solid #f09029;
    }

    .row_bet_place_td{
        height: 40px;
        vertical-align: middle;
    }
</style>
