<template>
    <v-dialog v-model="show" persistent width="300">
        <v-card color="primary" dark>
            <v-card-text>
                Loading, Please stand by
                <v-progress-linear indeterminate color="white" class="mb-0"/>
            </v-card-text>
        </v-card>
    </v-dialog>

</template>

<script>
export default {
    props: {
        value: Boolean
    },
    computed: {
        show: {
            get(){
                return this.value;
            },
            set(value){
                this.$emit('input', value);
            }
        }
    }
}
</script>

<style scoped>

</style>
