<template>
    <v-dialog v-model="show" width="500">
        <v-card style="width: 100%; text-align: center; padding-top: 60px; padding-bottom: 40px;">
            <img src="/asset_football/ic_under_maintenance.png" height="200px"/>
            <h1 style="margin-top: 50px; font-size: 30px;">Under Maintenance</h1>
        </v-card>
    </v-dialog>
</template>
<script>
    export default {
        props: {
            value: Boolean
        },
        computed: {
            show: {
                get(){
                    return this.value;
                },
                set(value){
                    this.$emit('input', value);
                }
            }
        }
    }
</script>
<style scoped>

</style>
