
.row_bet_place_td input {
    width: 50px;
    height: 20px;
    background-color: rgba(0,0,0,0.0);
    border: none;
}

.selected_teams {
    font-size: 12px;
    line-height: 18px;
    width: 100%;
}
.selected_team_item {
    margin: 3px;
    padding: 3px;
    /*height: 70px;*/
}
.selected_team_item div{
    line-height: 15px;
}

.selected_team_item b{
    font-size: 14px;
    font-weight: 500;
}

.selected_teams .close{
    color: red;
    margin-top: 20px;
    text-align: center;
}
.selected-team-bet-input {
    border: 1px solid #f3f3f3;
}

/*MatchListHeaderComponent*/
.schedules-header {
    background-color: #f48002;
    border-collapse: collapse;
}
.schedules-header tr {
    height: 30px;
}
.schedules-header th {
    font-weight: normal;
    font-size: 13px;
}
.schedules-header th{
    border: 0.5px solid #ffffff;
}
.schedules-header-wrapper{
    margin-top: -10px;
}

/*MatchListItemComponent*/
.match_row {
    border: 1px solid #f3cea6;
}
.match_row td{
    border: 1px solid #f3cea6;
    font-size: 12px;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.match_row .header-time {
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
}
.team_home {
    color: red;
}
a.double-line-hdp:visited, a.double-line-hdp:link {
    text-decoration: None;
    color: #fe5605;
    font-weight: bold;
    cursor: auto;
}

a.a-bet-screen:hover, a.a-bet-screen:active, a.a-bet-screen:visited, a.a-bet-screen:link {
    text-decoration: None;
    color: #000;
    cursor: pointer;
}

.double-line-odd {
    font-weight: bold;
}

.double-line-odd {
    color: #5d98e9;
    text-align: right;
    padding-right: 5px!important;
    padding-top: 3px;
    font-weight: bold;
}
.homeid, .awayid, .overid, .underid {
    cursor: pointer;
    color: #fe5608;
}

.double-line-team-id {
    color: #fe5608;
    text-align: right;
    font-weight: bold;
    padding-right: 5px!important;
    padding-left: 5px!important;
    padding-top: 3px;
    padding-bottom: 3px;
    /* font-weight: bold; */
}

.match_row .header-id:not(.double-line-team-id-selected):hover {
    color: #D8E1F2;
    background-color: #f3cea6;
    border-radius: 4px;
}

.match_row .double-line-team-id-selected{
    color: #D8E1F2;
    background-color: #f09029;
    border-radius: 4px;
}


.schedules {
    border: none;
}
.row_league {
    height : 33px;
    background-color: #fbf3ea;
}

.bet-place-league-name{
    font-size: 14px;
    color: #fe5605;
    font-weight: bold;
}
table.schedules td {
    vertical-align: middle;

}
/*.selected-team-bet-input {*/
/*    overflow: auto;*/
/*    border: 1px solid #e5e5e5;*/
/*}*/

.selected-team-bet-input > div:nth-child(even) {
    background: #f9efe3;
}

.selected-team-bet-input > div:nth-child(odd) {
    background: white;
}

.order {
  font-size: 13px;
}


