.schedules-wrapper {
  overflow: auto;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover {
  color: #5d98e9;
}
.navbar-default {
  /*background-color: #d3e4f6;*/
  background:linear-gradient(to bottom, #fff , #d3e4f6);
}
.row_league {
  font-weight: bold;
}
.row_league{
  border: 1px solid #96afde;
  background: #d2e5ff;
  color:#2b498f;
}
.match_row {
  border: 1px solid #96afde;
  background: rgb(240, 245, 255);
}

.hot-news {
  float:left;
  margin-top: 8px;
  color:#5d98e9;
  margin-left: 400px;
  width:950px;
  position: fixed;
  
}

.match_row:nth-child(even) {background-color: #fff;}

.homeid, .awayid, .overid, .underid {
  cursor: pointer;
  color: #5d98e9;
}
.homeid:hover, .awayid:hover, .overid:hover, .underid:hover {
  background: lightyellow;
}
.bet .close {
  background: url(/static/admin/img/icon-no.svg) no-repeat;
  /*background:url(/static/images/x-button.png) no-repeat;*/
  background-size:20px;
  width: 20px;
  height: 20px;
  display: block;
  float: right;
  margin-top: 20px;
  margin-right: 5px;
  cursor: pointer;
  opacity: .7;

}
.match_row td.changed {
  background-color: lightyellow;
}
.match_row a.changed {
  background-color: #4CFFFF;  
}

.bet .close:hover {
  opacity: 1;
}
#main {
  padding: 0 25px 0px 25px;
}
.schedules-header th {  font-weight:normal;}
.header-teams 
{  
  /*margin-bottom: 10px;  */
  /*margin-left: -20px;  */
  /*margin-top: -5px; */
  
}
#layout.bet {  }
#layout.bet .task {  
  display: inline-block; 
  /*padding: 5px ; */
  padding-left: 5px;
  
}
#layout.bet .task.selected { }

#layout.bet .task.selected a 
{
  /*background-color: #6493E8;*/
  /*border-color: #dddddd;*/
  /*border-radius: 4px;*/
  color: white;
  
}

.schedules-header-wrapper.scroll {
  padding-right:15px;
}
.team_home {
  color: red;
}
.schedules-header, .schedules {
  line-height:1;
}
.schedules-header{
  background-color: #6084CE;
  /*text-transform: uppercase;*/
}
.schedules-header th, .schedules th, .schedules-header td, .schedules td{
  padding: 2px;
}
table.schedules-header th, table.schedules th, table.schedules-header td, table.schedules td{
  vertical-align: middle;
  /*border: 1px solid #fff;*/
  border: 1px solid #96afde;
}
.center {
  text-align: center  ;
}
.team_name {
  font-size: 12px;
}
.selected_teams {
  border: 1px solid #f9f9f9;
}
.selected_teams .id {
  float:left;
  vertical-align: middle;
  display: block;
  height: 100%;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}
.selected_teams .league_name,.selected_teams .teams,
.selected_teams .datetime ,.selected_teams .left,
.selected_teams .selected ,.selected_teams .info {
  margin-left:35px;
  text-align: left;
}
.selected_teams .info,.selected_teams .left,.selected_teams .selected{
  font-weight: bold;
}
#casa_bet_popup .close {
}
#casa_bet_popup .modal-dialog {
  height: 90%;
}
#casa_bet_popup .modal-content {
  width: 800px;
  margin-left: -120px;
  height: 100%;
}
#casa_bet_popup .modal-body{
  overflow: auto;
  height: 80%;
  padding-bottom: 10px;
}
.pop_bet_row {
   padding-bottom: 5px;
   margin-bottom: 5px;
   border-bottom: 1px solid  #e5e5e5;
}
.bet-order .odd {
}
.bet-order .stake, .bet-order  .total_odd,
.bet-order  .winlose, .bet-order  .counter {
  border-left: 1px solid  #e5e5e5;
  border-right: 1px solid  #e5e5e5;
}
.bet-order  .table > tbody > tr > td {
  border: 1px solid  #e5e5e5;
}
.bet-order th {
  border: 1px solid  #e5e5e5;
  border-top: 1px solid  #e5e5e5 !important;
}
.pop_bet_row.last { border-bottom: none}

.btn.btn-primary {
    color: #fff;
    background-color: #6493E8 !important;
    border-color: #dddddd !important;
}
.header-teams .btn-link {
  /*color: #5d98e9;*/
  color:#ddd;
}
.teams_orders {
  overflow: auto}
.orders {
  overflow: auto;
  border: 1px solid  #e5e5e5;
  margin-top: 6px;
}
.orders a {
  color: #5d98e9;
  text-decoration: underline;
}
.orders .order {
  text-align:left;
  padding: 5px 15px;
}
.selected_teams {
  overflow: auto;
  border: 1px solid #e5e5e5;
}
.selected_teams > div {
  margin: 3px;
  padding: 3px;
  text-align: center;
}
.selected_teams > div:nth-child(odd) {
    background: white;
}
.selected_teams > div:nth-child(even), .orders .order:nth-child(even) {
  background-color: rgb(240, 245, 255);
}
.order .datetime, .order .link {
  width: 130px;
  display: inline-block;
}
/*table.schedules > tr:nth-child(even) {
    background: #F9F9F9;
}*/

#layout #list button, .btn-casa {
  width: 23%;
  background-color: #5d98e9;
  /*border-color: #6084CE;*/
  color: white;
  display: inline-block;
  margin-top: -4px;
  padding-left: 5px;
}
.btn-casa:focus,.btn-casa:hover,.btn-casa:active,.btn-casa:visited, #layout #list button:hover, #layout #list button:active, #layout #list button:focus,#layout #list button:visited{
  color: white;
  border-color: #dddddd !important;
  outline: 0px auto -webkit-focus-ring-color;
}
#selected_ids, #amount {
  width: 74%;
  margin: 4px 0 0;
  display: inline-block;
}
#phone_number {
  width: 74%;
  display: inline-block;
  margin-top: 4px;
}
#bet_options {
  display: inline-block;
  width: 23%;
  padding-left: 4px;
  padding-right: 0px;
}
#list {
  text-align: center;
  padding: 0 10px 0 20px;
}
#list .entry {
  margin-bottom: 10px;
  margin-top: -11px;
}
.header-hdp {
  width: 42px;
}
.header-odd {
  width: 42px;
}
.header-id {
  width: 42px;
}
.header-id.blocked {
  color: inherit;
  cursor: inherit;
}
.header-id.blocked:hover {
  background-color: inherit;
}
.schedules-header .header-id, .schedules-header .header-odd,.schedules-header  .header-hdp {
  /*border-right:1px solid #eee;*/
  border-right:1px solid #96afde;
}
.header-id,.header-odd,.header-hdp {
  font-size: 12px;
}
.header-time {
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
}
.awayid, .team_name {
  border-right:1px solid #ebf1ff;
}
.casa-content {
  padding-top: 72px;
}
html, body {
  height: 100%;
}

body.anon {
  /*background: url(../images/member_bg.gif) repeat-x;*/
}
.member_logo {
  text-shadow: 0px 1px 3px gray;
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin: -20px 0 10px 5px;
}
.statis_lbl {
  display: inline-block;
  width: 100px;
}
.bet_stats {
  text-align: left;
  margin-bottom: 5px;
  background-color: white;

  padding-left: 10px;
  padding-right: 10px;
}
.bet_stats > div {

  border-bottom: 1px solid #eee;
}
.row_league.blocked { display: none}
.bet_places {
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: 5px;
}
.bet_places .place {
  height: 25px;
  /*border: 1px solid white;*/
  /*background-color: #A7D1FB;*/
  background:rgb(240, 245, 255);
  padding-top: 2px;
  font-size:15px;
  font-weight: bold;
  color:#2B4995;
  text-align: center;
}
.popup_bet_places {
  margin: 10px 10px;
}
.match_row.blocked {display: none}
.stats_odds, .stats_stake, .stats_payout, .stats_min, .stats_max {  font-weight:bold;}
.lbl {display: inline-block;width: 150px;}
.userdetails {
  margin-top: 15px;
}
.userdetails > div {
  height: 28px;
  display: block;
}
.lbl-val {
  width: 50px;
  display: inline-block;
  font-weight: bold;
}
.lbl-inner {
  display: inline-block;
  width: 82px;
}
.error-container {}

/* 5 columns */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.double-line-odd {
  text-align: right!important;
  padding-right: 2px!important;
  color:#000;
  font-weight: bold;
  padding-top:3px;
  text-decoration: None;
  cursor: pointer;
}

.double-line-team-id{
  color:#5d98e9;
  text-align: right;
  padding-right: 5px!important;
  color:#5d98e9;
  padding-top:3px;
  /*font-weight: bold;*/
}

.a-bet-screen{
  color:#000;
  cursor:auto;
}

.a-bet-screen-single-line{
  color:#000;
  cursor:default;
  text-decoration: None;
}

a.a-bet-screen-single-line:hover,a.a-bet-screen-single-line:active,a.a-bet-screen-single-line:visited,a.a-bet-screen-single-line:link{
  text-decoration: None;
  color:#000;
  cursor:default;
}

a.a-bet-screen:hover,a.a-bet-screen:active,a.a-bet-screen:visited,a.a-bet-screen:link{
  text-decoration: None;
  color:#000;
  cursor:pointer;
}

.double-line-hdp {
  text-align: right;
  /*padding-right: 10px!important;*/
  color:#27448c;
  font-size: 12px;
  font-family: arial;
  font-weight: bold;
}


a.double-line-hdp:hover,a.double-line-hdp:active,a.double-line-hdp:visited,a.double-line-hdp:link{
  text-decoration: None;
  color:#27448c;
  font-weight: bold;
  cursor:auto;
}