.table-listing-account {
    border-collapse: collapse;
}
.table-listing-account thead {
    background-color: linear-gradient(#FF4E00, #EC9F05);
    color: white;
    font-size: 12px;
    height: 50px;
}
.table-listing-account-item td {
    background-color: white;
    color: black;
    height: 50px;
    font-size: 13px;
}
.table-listing-account thead th {
    height: 40px;
}
.table-listing-account th:first-child{
    border-radius: 4px 0 0 0;
}
.table-listing-account th:last-child{
    border-radius: 0 4px 0 0;
}

.table-listing-account .action-span {
    color: #1d68a7;
    cursor: pointer;
    text-decoration: underline;
}

.row-head-account{
    background-color: #96afde;
    height: 30px;
    color: white;
}
.form-search {
    height: 35px;
    width: 180px;
    margin-top: 10px;
    padding-left: 20px;
    background-color: white;
    border-radius: 4px;
}

.table-add-match {
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
}
.table-add-match, td {
    padding: 10px;
}
.table-add-match td th {
    border: 1px solid black;
}
.schedules {
    border: none;
}
.row_league {
    height : 33px;
    background-color: #D8E1F2;
}
.bet-place-league-name{
    font-size: 14px;
    color: #003598;
    font-weight: bold;
}
table.schedules td {
    vertical-align: middle;

}

.v-date-picker-table {
    height: auto!important;
}
