<template>
    <v-row class="selected_team_item bet ma-0 pl-4 pr-4 text-left pt-0" align="center" justify="center">
        <v-col cols="12" md="1"><div class="id subtitle-2">{{inputId}}</div></v-col>
        <v-col cols="12" md="10" class="pl-7 pt-1 pb-1">
            <div class="teams caption"><span class="team_home caption">{{teamHomeName}} </span>-VS- {{teamAwayName}}
            </div>
            <div class="datetime body-2 caption">{{match.date}} {{match.time}} ({{getFbetName}})</div>
            <div class="selected caption"><span class="team_home body-2">{{getBetTeamName}} </span></div>
            <div class="datetime body-2 caption">({{odd}}) @ {{bet_win_p}}</div>
        </v-col>
        <v-col cols="12" md="1">
            <div class="close"  @click="remove" ><i class="icon-remove-sign" style="color: red; font-size: 22px;"></i></div>
        </v-col>
    </v-row>
</template>

<script>
    import {mapActions} from "vuex";
    const BigNumber = require('bignumber.js');
    export default {
        props: ["match", "inputId", 'teamHomeName', 'teamAwayName', 'bet_win_p', 'odd'],
        data: () => ({}),
        computed: {
            getFbetName() {
                if(this.inputId < 1000) return "F. HDP";
                if (this.inputId > 1000 && this.inputId < 1500) return "F. OU Over";
                else return  "F. OU Under";
            },
            getBetTeamName(){
                var id = this.inputId;
                var betTeamName = '';
                if (id >= 1 && id <= 500) {
                    betTeamName = this.teamHomeName;
                } else if (id >= 501 && id <= 1000) {
                    betTeamName = this.teamAwayName;
                } else if (id >= 1001 && id <= 1500) {
                    betTeamName = this.teamHomeName;
                } else if (id >= 1501 && id <= 2000) {
                    betTeamName = this.teamAwayName;
                }
                return betTeamName;
            },
        },
        methods: {
            ...mapActions(['onRemoveBetInputIdBet']),
            remove() {
                this.onRemoveBetInputIdBet({
                    match: this.match,
                    inputSelectedId: this.inputId
                });
            }
        }
    }
</script>
