<template>
    <div>
        <v-row >
            <v-col cols="9" class="pa-0 pr-3">
                <v-text-field class="input-label" type="number" label="បញ្ជូល លេខក្រុម" dense :disabled="isDisableBetInput"
                              outlined id="selected_ids" v-model="selected_ids" name="selected_ids" @keyup.enter="onSubmitInputId"></v-text-field>
            </v-col>
            <v-col cols="3" class="pa-0">
                <v-btn width="95%" id="btnClear" color="#f48002" name="clear" value="Clear" class="white--text" @click="clearBet" >
                    លុប
                </v-btn>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12" class="text-left">
                <v-row >Total odds : {{getSumOdd}}</v-row>
                <v-row class="mt-7">Stake USD : {{ new Intl.NumberFormat().format(amount) }}៛</v-row>
                <v-row class="mt-7">Max Payout : {{ new Intl.NumberFormat().format(maxPayout) }}៛</v-row>
                <v-row class="mt-7" style="width: 48%; display: inline-block">
                    <div class="">Min: <span class="stats_min">{{ new Intl.NumberFormat().format(minBet)}}៛</span></div>
                </v-row>
                <v-row class="mt-7" style="width: 48%; display: inline-block">
                    <div class="">Max: <span class="stats_max">{{ new Intl.NumberFormat().format(maxBet)  }}៛</span></div>
                </v-row>
            </v-col>
        </v-row>

        <v-row justify="center" align="center" class="mt-3 mb-0">
            <v-col cols="9" class="pa-0 pt-0 pb-0">
                <v-form ref="formBet" v-on:submit.prevent="onConfirmSubmit" v-model="validateFormBet" style="width: 100%">

                    <v-text-field type="number" dense outlined class="pr-3" :rules="amountRule" label="បញ្ជូល ទឹកប្រាក់" v-model="amount"/>
<!--                    <v-text-field-money type="number" dense outlined class="pr-3"-->
<!--                                        :rules="amountRule" label="បញ្ជូល ទឹកប្រាក់" v-model="amount"-->
<!--                                        v-bind:properties="{-->
<!--                                            readonly: false,-->
<!--                                            disabled: false,-->
<!--                                            outlined: true,-->
<!--                                            clearable: true,-->
<!--                                          }"/>-->
                </v-form>
            </v-col>
            <v-col cols="3" class="pa-0 ">
                <v-select return-object item-text="name" class="pt-0" height="20" label="ប្រភេទ" :items="betOptionItem" v-model="betOptionSelect" dense outlined></v-select>
            </v-col>
        </v-row>
        <v-row justify="center" align="center" class="mt-0 pt-0">
                <v-col cols="12" class="pa-0 ma-0">
                    <v-btn width="100%" color="primary" @click="onConfirmSubmit" :loading="submitLoading">ចាក់</v-btn>
                </v-col>
        </v-row>

        <div class="row bet_places pa-0" style="margin-top: 20px; ">
            <table class="table table-bordered">
                <tr class="row_bet_place table-primary">
                    <td width="20%" class="row_bet_place_td text-center">{{betSelectedIds[0]}}</td>
                    <td width="20%" class="row_bet_place_td text-center">{{betSelectedIds[1]}}</td>
                    <td width="20%" class="row_bet_place_td text-center">{{betSelectedIds[2]}}</td>
                    <td width="20%" class="row_bet_place_td text-center">{{betSelectedIds[3]}}</td>
                    <td width="20%" class="row_bet_place_td text-center">{{betSelectedIds[4]}}</td>
                </tr>
                <tr class="row_bet_place">
                    <td class="row_bet_place_td text-center">{{betSelectedIds[5]}}</td>
                    <td class="row_bet_place_td text-center">{{betSelectedIds[6]}}</td>
                    <td class="row_bet_place_td text-center">{{betSelectedIds[7]}}</td>
                    <td class="row_bet_place_td text-center">{{betSelectedIds[8]}}</td>
                    <td class="row_bet_place_td text-center">{{betSelectedIds[9]}}</td>
                </tr>
                <tr class="row_bet_place table-primary">
                    <td class="row_bet_place_td text-center">{{betSelectedIds[10]}}</td>
                    <td class="row_bet_place_td text-center">{{betSelectedIds[11]}}</td>
                    <td class="row_bet_place_td text-center">{{betSelectedIds[12]}}</td>
                    <td class="row_bet_place_td text-center">{{betSelectedIds[13]}}</td>
                    <td class="row_bet_place_td text-center">{{betSelectedIds[14]}}</td>
                </tr>
            </table>
        </div>

        <v-row v-if="visibleOutstandingButton" justify="center" align="center" class="mt-0 pt-0 mt-5">
            <v-col cols="12" class="pa-0 ma-0">
                <v-btn @click="openOutStanding" class="text-capitalize" width="100%" color="primary" outlined >Outstanding ({{outStandingCount}})</v-btn>
            </v-col>
        </v-row>
        <div class="row teams_orders pa-0">
            <div class="selected_teams">
                <div class="selected_teams">

                </div>
            </div>
        </div>
        <confirm-bet-dialog v-model="confirmBetShow" :confirmed="onSubmitAmount" :total-odd="getSumOdd" :bet-type="betOptionSelect.name"
                            :stack-amount="amount" :max-payout="maxPayout" />
        <under-maintain-dialog v-model="underMaintainShow"  />
    </div>
</template>
<script>
    import {mapState, mapActions} from 'vuex';
    const BigNumber = require('bignumber.js');
    import helper from './../../helper';
    import ConfirmBetDialog from './dialog/ConfirmBetDialog.vue';
    import UnderMaintainDialog from './dialog/UnderMaintainDialog.vue';

    export default {
    components: { UnderMaintainDialog, ConfirmBetDialog },
        data: () => ({
            snackbar: false,
            text: 'My timeout is set to 2000.',
            timeout: 2000,

            selected_ids: null,
            betOptionSelect: null,
            amount: null,
            submitLoading: false,
            validateFormBet: false,

            confirmBetShow: false,
            underMaintainShow: false,

        }),
        computed: {
            ...mapState(['betSelectedIds', 'matchGroup', 'betMatchSelected', 'minBet', 'maxBet', 'balance', 'outStandingCount',
                'matchGroupYesterday',  'matchGroupToday', 'isMatchYesterdaySelected', 'matchTimeToday', 'matchTimeYesterday', 'userId'
            ]),
            getSumOdd() {
                var sumOdd = new BigNumber(1);
                this.betMatchSelected.forEach((betMatchSelected, index) => {
                    if (index == 0) {
                        sumOdd = new BigNumber(1);
                    }
                    var newOdd = new BigNumber(helper.getOdd(betMatchSelected.bet_input, betMatchSelected.match.over_under));
                    sumOdd = sumOdd.times(newOdd);
                });
                return helper.toFixed(sumOdd, 2);
            },
            betOptionItem(){
                var sizeMatch = this.betSelectedIds.length;
                this.betOptionSelect = { is_multi: false, name: '1x' + sizeMatch,};
                if(sizeMatch === 0) {
                    this.betOptionSelect = { is_multi: false, name: ''};
                }else {
                    this.betOptionSelect = { is_multi: false, name: '1x' + sizeMatch,};
                }
                if (sizeMatch <= 1) {
                    return [{ is_multi: false, name: '1x' + sizeMatch }];
                } else {
                    return [
                        { is_multi: false, name: '1x' + sizeMatch,},
                        { is_multi: true, name: sizeMatch + "x" + (sizeMatch + 1)}
                    ];
                }
            },
            isDisableBetInput(){
                return (this.matchGroupYesterday.length + this.matchGroupToday.length) <= 0
                // return this.matchGroup == null || this.matchGroup.length == 0;
            },
            visibleOutstandingButton(){
                return this.outStandingCount != null && this.outStandingCount != 0
            },
            maxPayout(){
                if(this.amount == null) return "";
                return new BigNumber(this.amount).times(this.getSumOdd);
            },
            amountRule(){
                var multiBetSize = 1;
                if(this.betOptionSelect != null && this.betOptionSelect.is_multi){
                    multiBetSize = this.betSelectedIds.length + 1;
                }
                return [
                    v => !!v || "Amount cannot empty",
                    v => v >= this.minBet || "Amount cannot be smaller than minimum bet",
                    v => v <= this.maxBet || "Amount cannot be bigger than maximum bet"
                    // v => (v * multiBetSize) <= this.balance || "Amount cannot smaller than minimum bet"
                ]
            },
            minBetMax(){
                if(this.betOptionSelect != null && this.betOptionSelect.is_multi){
                    if(this.userId == 8) return '3x4'
                    else return '4x5';
                }else {
                    if(this.userId == 8) return 2
                    else return 3;
                }

            }
        },
        methods: {
            ...mapActions(['onSubmitClear', 'onSubmitClickId', 'getCurrentUser', 'getOutStanding']),
            onConfirmSubmit(){

                if(this.$refs.formBet.validate()) {
                    this.confirmBetShow = true;
                    // if(this.betOptionSelect != null && this.betOptionSelect.is_multi){

                    //     var isValidBetCount = this.betSelectedIds.length >= 4;
                    //     if(this.userId == 8){
                    //         isValidBetCount = this.betSelectedIds.length >= 3;
                    //     }
                    // }else {
                    //     var isValidBetCount = this.betSelectedIds.length >= 3;
                    //     if(this.userId == 8){
                    //         isValidBetCount = this.betSelectedIds.length >= 2;
                    //     }
                    // }


                    // if(!isValidBetCount){
                    //     this.snackbar = true;
                    // }

                    // if (this.betSelectedIds != null && isValidBetCount) {
                    //     var betStack = this.amount;

                    //     if(this.betOptionSelect != null && this.betOptionSelect.is_multi){
                    //         betStack = new BigNumber(this.amount).times(this.betSelectedIds.length + 1);
                    //     }
                    //     this.$eventBus.$emit(OPEN_DIALOG_PLACE_BET_INFORM, {
                    //         total_odd: this.getSumOdd,
                    //         bet_type: this.betOptionSelect.name,
                    //         bet_stack: betStack,
                    //         max_payout: this.stackAmount
                    //     });
                    // }
                }
            },
            confirmedBet(){
                this.confirmBetShow = false;
            },
            onSubmitAmount(){
                if(this.$refs.formBet.validate()){
                    if(this.betSelectedIds != null && this.betSelectedIds.length >= 2){
                        this.submitLoading = true;
                        var bet_in_date = this.matchTimeToday;
                        if(this.isMatchYesterdaySelected === true){
                            bet_in_date = this.matchTimeYesterday;
                        }
                        var data = {
                            user_id: this.userId,
                            bet_in_date: bet_in_date,
                            total_odd: this.getSumOdd,
                            bets: this.betMatchSelected,
                            amount: this.amount,
                            is_multi: this.betOptionSelect.is_multi,
                            bet_type: this.betOptionSelect.name
                        };
                        axios.post('api/bet', data).then(res => {
                            this.amount = null;
                            this.submitLoading = false;
                            res.data.type = 'bet';
                            window.parent.postMessage(res.data, "*");
                            this.clearBet();
                            this.$refs.formBet.reset();
                        }).catch().then(() => {

                        });
                    }
                }
            },
            onSubmitInputId() {
                var matchId = helper.getTeamIdFromInput(this.selected_ids);
                if(this.isMatchYesterdaySelected === true){
                    var match = helper.filterMergeMatch(this.matchGroupYesterday, matchId);
                }else {
                    var match = helper.filterMergeMatch(this.matchGroupToday, matchId);
                }

                this.onSubmitClickId({
                    inputSelectedId: this.selected_ids,
                    match: match
                });
                this.selected_ids = null;
                this.betOptionSelect = null;
            },
            clearBet() {
               this.onSubmitClear();
            },
            openOutStanding(){
                // this.$eventBus.$emit(OPEN_DRAWER_OUTSTANDING, {});
            }
        }
    }
</script>
<style scoped>
    .table-primary,
    .table-primary > th,
    .table-primary > td {
        background-color: #ecd0b1;
    }

    .bet_places table {
        width: 100%;
        height: 150px;
        border-collapse: collapse;
    }

    .bet_place table, th, td{
        border: 1px solid #f09029;
    }

    .row_bet_place_td{
        height: 40px;
        vertical-align: middle;
    }
    .input-label .v-label {
        height: 50px!important;
    }
</style>
