<template>
    <tr style="height:40px" class="match_row" v-bind:match-list-item-index="getOrderMatch" v-bind:match-list-item-id="id">
        <td style="width:72px;" class="header-time">
            <div v-on:click="removeClick">
                <!-- <img v-if="showIcon" src="/img/pencil.png" style="width: 18px;"/> -->
<!--                <i class="fa fa-ellipsis-h icon-2x text-info"></i>-->
            </div>

        </td>
        <td style="width:91px;" class="header-time">{{getDateFormat()}}<br>{{match.time}}</td>

        <td style="width:228px;padding-top: 2px;" class="team_name">
            <div style="padding-left:4px;" class="team_home">{{teamAName}}<template v-if="isTeamAHome"> * </template></div>
            <div style="padding-left:4px;" class="team_away">{{TeamBName}}<template v-if="isTeamBHome"> * </template></div>
        </td>



        <td style="width:48px;" class="double-line-team-id">
            <div style="display:inline;" :class="'center double-line-team-id overid header-id line-team-id-' + getOrderMatch "
                 v-bind:team-id="match.team_a_id" v-on:click="submitClickID(getOrderMatch)">
                {{getOrderMatch}}
            </div>
            <br/>
            <div style="display:inline;" :class="'center double-line-team-id overid header-id  line-team-id-' + (getOrderMatch + 500)"
                 v-bind:team-id="match.team_b_id" v-on:click="submitClickID(getOrderMatch + 500)">
                {{getOrderMatch + 500}}
            </div>
        </td>
        <td style="width:103px;border-right:0px;vertical-align:top;text-align:right;padding-top:10px;padding-right: 10px;" class="header-hdp">
            <a class="hdp_full double-line-hdp" href="#">{{handi}}</a></td>

        <td style="width:48px;border-left:0px;" class="double-line-odd header-odd" >
            <div style="display:inline;" class="double-line-odd homeid_odd header-id" v-on:click="submitClickID(getOrderMatch)">
                <div style="display:none">{{getOrderMatch}}</div>
                <a class="home_full a-bet-screen" href="#" >{{over_under.handi_p_team_a}}</a>
            </div>
            <br/>
            <div class="double-line-odd awayid_odd header-id" style="padding-top:4px;display:inline;"  v-on:click="submitClickID(getOrderMatch + 500)">
                <div style="display:none">{{getOrderMatch + 500}}</div>
                <a class="away_full a-bet-screen" href="#" >{{over_under.handi_p_team_b}}</a>
            </div>
        </td>


        <td class="double-line-team-id" style="width:48px;">
            <div style="display:inline;" :class="'double-line-team-id overid header-id line-team-id-' + (getOrderMatch + 1000)"
                 v-bind:team-id="match.team_a_id" v-on:click="submitClickID(getOrderMatch + 1000)">
                {{getOrderMatch + 1000}}
            </div>
            <br/>
            <div style="display:inline;" :class="'double-line-team-id overid header-id line-team-id-' + (getOrderMatch + 1500)"
                 v-bind:team-id="match.team_b_id" v-on:click="submitClickID(getOrderMatch + 1500)">
                {{getOrderMatch + 1500}}
            </div>
        </td>
        <td style="width:205px;border-right:0px;vertical-align:top;text-align:right;padding-top:7px;"><a
            class="header-hdp double-line-hdp" href="#">{{getOverUnder}}</a></td>
        <td class="double-line-odd" style="width:48px;border-left:0px;">
            <div style="display:inline;" class="double-line-odd overid_odd header-id" v-on:click="submitClickID(getOrderMatch + 1000)">
                <div style="display:none">{{getOrderMatch + 1000}}</div>
                <a class="over_full a-bet-screen" href="#" >{{over_under.over_p}}</a>
            </div>
            <br/>
            <div class="double-line-odd header-id header-id-1501 underid_odd " style="padding-top:4px;display:inline;"
                 v-on:click="submitClickID(getOrderMatch + 1500)">
                <div style="display:none">{{getOrderMatch + 1500}}</div>
                <a class="under_full a-bet-screen" href="#">{{over_under.under_p}}</a>
            </div>
        </td>

    </tr>
</template>

<script>
    import {mapActions, mapState} from 'vuex';
    import moment from 'moment';
    import helper from "../../helper";
    export default {
        props: {
            match: {
                type: Object,
                default: {}
            },
            teamAName: {
                type: String,
                default: '',
            },
            TeamBName: {
                type: String,
                default: ''
            },
            showIcon: {
                type: Boolean,
                default: false,
            }
        },
        data: () => ({
        }),
        created() {},
        computed: {
            ...mapState(['betSelectedIds']),
            getOrderMatch(){
                return this.match.order_match;
            },
            isTeamAHome(){
                return this.match.team_a_id === this.match.team_home_id;
            },
            isTeamBHome(){
                return this.match.team_b_id === this.match.team_home_id;
            },
            id(){return this.match.id;},
            over_under(){return this.match.over_under;},
            handi(){
                if(this.over_under == null) return '';
                return calculateOverUnder(this.over_under.handi);
            },
            getOverUnder(){
                return calculateOverUnder(this.over_under.over_under);
            },
        },
        methods: {
            ...mapActions(['onSubmitClickId']),
            getClassSelectedId(betSelectedIds, orderMatch){
                if(betSelectedIds.includes(orderMatch)){
                    return 'double-line-team-id-selected'
                }
                return '';
            },
            getDateFormat(){
                return moment(this.match.date).format('DD-MM-YYYY');
            },
            submitClickID(inputId){
                this.onSubmitClickId({
                    inputSelectedId: inputId,
                    match: this.match
                });
            },
            removeClick : function (event){
            },
        }
    }
    function calculateOverUnder(value){
        return helper.getDisplayHandicap(value);
        // if(value == null) return '';
        // value = value.replace("-","");
        // var removeZeroDecimal = value * 1;
        // if(!removeZeroDecimal.toString().includes('.')) return removeZeroDecimal;
        // if(!removeZeroDecimal.toString().split(".")[1]) return "";
        // var decimal = removeZeroDecimal.toString().split(".")[1];
        // if(decimal == 0 || decimal == 5) return removeZeroDecimal;
        // var positive = value.split(".")[0];
        // if(decimal == 25){
        //     return positive + "/" + positive+ ".5" ;
        // }
        // if(decimal == 75){
        //     return positive + ".5/" + (parseInt(positive) + 1) ;
        // }
        // return 'wrong';
    }
</script>

<style scoped>
    element.style {
        height: 40px;
    }
</style>
