<template>
    <div>
        <v-snackbar v-model="snackbarInfo" :timeout="timeout" absolute color="primary" centered elevation="24">
            {{snackBarInfoText}}
        </v-snackbar>
        <v-row class="container mt-1 ml-4 mr-4">
            <v-col cols="12" md="4" class="pa-1 pt-4" style="width: 100%; height: 1000px; text-align: center; padding-top: 100px;">
                <bet-input-component/>
                <div class="selected-team-bet-input mt-4">
                    <BetInputItemComponent v-for="bet in betMatchSelected" :match="bet.match" :input-id="bet.bet_input" :odd="bet.odd"
                                           :bet_win_p="bet.bet_win_p" :team-away-name="bet.match.teamBName" :team-home-name="bet.match.teamAName" :key="bet.match.id"/>
                </div>
            </v-col>
            <v-col cols="12" md="1">
            </v-col>
            <!-- bet table-->
            <v-col cols="12" md="6">
                <div class="schedules-header-wrapper">
                    <table style="width: 890px;" class="schedules-header table table-hover table-condensed ">
                        <thead style="font-size:14px;background-color:#f48002!important;">
                        <tr>
                            <th colspan="2">

                                <div class="header-teams row" >
                                    <div class="">

                                        <div class="task selected selected-date">
                                            <template v-if="textLinkYesterday != null">
                                                <a @click="loadMatchYesterday" :class="[isMatchYesterdaySelected ? 'btn btn-link btn-date btn-date-active' : 'btn btn-link btn-date btn-date-inactive']" href="#">{{textLinkYesterday}}</a>
                                            </template>
                                            <template v-if="textLinkToday != null">
                                                <a @click="loadMatchToday" :class="[isMatchYesterdaySelected ? 'btn btn-link btn-date btn-date-inactive' : 'btn btn-link btn-date btn-date-active']" href="#">{{textLinkToday}}</a>
                                            </template>

                                        </div>

                                    </div>
                                </div>

                            </th>
                            <th colspan="5" class="center">Handicap</th>
                            <th colspan="5" class="center">Over/Under</th>
                        </tr>
                        <tr>
                            <th class="center" style="width:60px;">Action</th>
                            <th class="center" style="width:76px;">Time</th>
                            <th style="width:188px;">Team Name</th>
                            <th class="header-id center" style="width:42px;">H_Id</th>
                            <th class="header-odd center" style="width:42px;">Home</th>
                            <th class="header-hdp center" style="width:42px;">HDP</th>
                            <th class="header-odd center" style="width:42px;">Away</th>
                            <th class="header-id center" style="width:42px;">A_Id</th>
                            <th class="header-id center" style="width:42px;">O_Id</th>
                            <th class="header-odd center" style="width:42px;">Over</th>
                            <th class="header-hdp center" style="width:37px;">HDP</th>
                            <th class="header-odd center" style="width:42px;">Under</th>
                            <th class="header-id center" style="width:42px;">U_Id</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <v-progress-linear style="width: 890px;" indeterminate color="primary darken-2" v-if="matchGroupLoading"></v-progress-linear>
                <div  v-else style="height: 85vh;overflow: auto;width: 5090px;">
                    <table style="width: 890px;" class="schedules table table-hover table-condensed" cellspacing="0" cellpadding="0">
                        <thead v-for="league in matchList" :key="league.league_id" class="pa-0 ma-0">
                            <tr class="row_league text-center" v-if="league.matches.length > 0">
                                <td colspan="8" class="bet-place-league-name">{{league.name}} </td>
                            </tr>
                            <div  v-for="match in league.matches" :key="match.id">
                                <MatchListItemComponent :match="match" :teamAName="match.teamAName"
                                             :TeamBName="match.teamBName"></MatchListItemComponent>
                            </div>
                        </thead>
                    </table>
                </div>
            </v-col>
        </v-row>
    </div>
</template>
<script>
    import {mapState, mapActions} from 'vuex';
    import MatchListItemComponent from './../../component/home/MatchListItemComponent';
    import BetInputComponent from './../../component/home/BetInputComponent';
    import BetInputItemComponent from "../../component/home/BetInputItemComponent";

    import {MATCH_BET_UPDATED, GET_MATCH_TODAY, GET_MATCH_YESTERDAY} from "../../api";

    export default {
        components: { MatchListItemComponent, BetInputComponent, BetInputItemComponent },
        data: () => ({
            snackbarInfo: false,
            snackBarInfoText: '',
            timeout: 2000,

            teams: [],
            timer: '',
            timer2: '',
        }),
        computed: {
             ...mapState([
                'matchGroupLoading','matchGroup', 'betMatchSelected',
                'matchGroupYesterday', 'matchGroupToday', 'matchTimeToday',
                'matchTimeYesterday',  'isMatchYesterdaySelected'
            ]),
            textLinkYesterday(){
                if(this.matchTimeYesterday != null && this.matchGroupYesterday != null && this.matchGroupYesterday.length > 0)
                    return this.matchTimeYesterday;
                return null;
            },
            textLinkToday(){
                if(this.matchTimeToday != null && this.matchGroupToday != null && this.matchGroupToday.length > 0)
                    return this.matchTimeToday;
                return null;
            },
            matchList(){
                if(this.isMatchYesterdaySelected === true){
                    return this.matchGroupYesterday;
                }
                return this.matchGroupToday;
            }
        },
        created() {
            this.getMatchGroup2();
            this.timer = setInterval(this.checkMatchTimeOut, 180000);
            this.timer2 = setInterval(this.getMatchUpdate, 120000);

            this.$eventBus.$on(MATCH_BET_UPDATED, (text) => {
                this.snackBarInfoText = text;
                this.snackbarInfo = true;
            });

            this.$eventBus.$on(GET_MATCH_TODAY, () => {
                this.getMatchGroup({});
            });
            this.$eventBus.$on(GET_MATCH_YESTERDAY, () => {
                this.getMatchGroupYesterday({});
            });

        },
        methods: {
             ...mapActions(['getMatchGroup2', 'getMatchGroup', 'getCurrentUser', 'getOutStanding', 'removeMatchTimeOut',
            'getMatchVersion', 'getMatchIfUpdated', 'switchMatchToday', 'switchMatchYesterday']),
            getMatchUpdate(){
                this.getMatchIfUpdated();
            },
            checkMatchTimeOut(){
                this.removeMatchTimeOut();
            },
            teamName(id) {
                return this.teams.find(obj => obj.id == id).name;
            },
            getMatches(leagueId){
                return this.matchGroup[leagueId].slice();
            },
            loadMatchYesterday(){
                this.switchMatchYesterday({});
            },
            loadMatchToday(){
                this.switchMatchToday({});
            }
        }
    }
</script>
<style scoped>
    a {
        color: white!important;

    }
    .selected-date {
        font-size: 12px;
        padding-left: 16px;
        padding-top: 1px;
    }
</style>
