<script src="../helper.js"></script>
<template>
    <div>
        <v-snackbar v-model="snackbarBetSuccess" :timeout="timeout" absolute color="primary" centered elevation="24">
            Bet Success
        </v-snackbar>
        <v-snackbar v-model="snackbarBetError" :timeout="timeout" absolute color="red" centered elevation="24">
            {{errorMessage}}
        </v-snackbar>

        <div class="wrapper-new-keno">
            <HomePage/>
            <!-- <router-view></router-view> -->
        </div>
        <LoadingDialog v-model="loadingShow" />
    </div>
</template>
<script>
    import HomePage from './home/HomePage';
    import LoadingDialog from "../component/home/dialog/LoadingDialog";
    import {mapActions, mapState} from "vuex";

    export default {
        components: { HomePage, LoadingDialog },
        data: () => ({
            snackbarBetSuccess: false,
            timeout: 2000,
            errorMessage: '',
            snackbarBetError: false,
            page: 'Home',
            loadingShow: true,
        }),
        created() {
            if (window.addEventListener) {
                window.addEventListener("message", this.listenMessage, false);
            } else {
                window.attachEvent("onmessage", this.listenMessage);
            }
        },
        mounted(){

        },
        computed: {

        },
        methods: {
            ...mapActions(['updateUser']),
            listenMessage(msg) {
                if(msg.origin === "http://lottokhmer.com" || msg.origin === 'http://localhost:8081'){
                    var data = msg.data;
                    if(data.type === 'user'){
                        console.log("called in api")
                        this.loadingShow = false;
                        this.updateUser(data);
                    }

                }
            },
        }
    }
</script>

<style scoped>
    ul {
        width: 100%;
        height: 40px;
        margin: 0;
        padding: 0;
        background-image: linear-gradient(#FF4E00, #EC9F05);
        text-align: left;
    }
    nav li:hover,
    nav li.router-link-active,
    nav li.router-link-exact-active {
        background-color: indianred;
        cursor: pointer;
    }
    ul li {
        display: inline-block;
        list-style-type: none;
        position: relative;
        z-index: 10;
    }
    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    ul li a {
        display: block;
        padding: 0 10px;
        font-size: 15px;
        text-decoration: none;
        color: #fff;
        line-height: 40px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    .active {
        background: #b53b3b;
        color: #fff;
    }
</style>
